# CLion / JetBrains
.idea/
cmake-build-*/

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# SynthLab: must be obtained by the user, not part of the repository
SDKs/SynthLab/

# Ignore all content in SynthLabSamples by default
SynthLabSamples/*

# Share folder paths step-by-step so that Git looks into them
!SynthLabSamples/InstrumentCollectionSfz/

SynthLabSamples/InstrumentCollectionSfz/*
!SynthLabSamples/InstrumentCollectionSfz/KeyBoard_Instruments/
!SynthLabSamples/InstrumentCollectionSfz/samples/

!SynthLabSamples/InstrumentCollectionSfz/samples/
SynthLabSamples/InstrumentCollectionSfz/samples/*

# Explicitly exclude the target file and target folder from being ignored
!SynthLabSamples/InstrumentCollectionSfz/KeyBoard_Instruments/Grand Piano_K_Sustain.sfz
!SynthLabSamples/InstrumentCollectionSfz/samples/Grand_Piano_K_Sustain/
!SynthLabSamples/InstrumentCollectionSfz/samples/Grand_Piano_K_Sustain/**

#4. Inhalt von KeyBoard_Instruments ignorieren, außer der .sfz-Datei
SynthLabSamples/InstrumentCollectionSfz/KeyBoard_Instruments/*
!SynthLabSamples/InstrumentCollectionSfz/KeyBoard_Instruments/Grand Piano_K_Sustain.sfz

# foleys_gui_magic: deliberately DO NOT ignore, as it is vendored and part of the repository
# modules/foleys_gui_magic/  <- deliberately not entered


# Compiled plugins / binaries
*.o
*.obj
*.so
*.dylib
*.vst3
*.exe

# OS-trash
.DS_Store
Thumbs.db

# editor backups
*~
*.swp

# temporary files
*.tmp
*.temp
